body {
  background-color: #473F47;
  color: White;
  font-family: "Open Sans", Arial, sans-serif;}

h1 {
  color: Yellow;}

h2{
  font-style: oblique;}

p {
  line-height: 1.4em;}

strong {
  color: rgb(255,149,36);}

img[class] {
  border-style: solid;
  border-color: 1A1A1A;}

img.product {
  border-style: solid;
  border-color: 1A1A1A;
  height: 200px;
  width: 200px;}

div.review {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px}

img.user {
  vertical-align: middle;
  height: 40px;
  width: 40px;}

#product-description:first-letter {
  font-size: 150%;}

a:link {
  color: #45AC38;
  text-decoration: none;}

a:visited {
  color: #38ACA5;}

a:hover {
  color: #65FF52;
  text-decoration: underline;}

a:active {
  color: #E64BDC;}
